@import "tailwindcss";

:root {
  --accent: 245 158 11; /* default amber */
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: #09090b;
  color: #f4f4f5;
}

.accent {
  color: rgb(var(--accent));
}
.bg-accent {
  background-color: rgb(var(--accent));
}
.ring-accent {
  --tw-ring-color: rgb(var(--accent));
}
